<div class="container mt-5">
  @if (cartService.cartItems().length> 0) {
    <div class="CartContainer mx-auto">
      <div class="Header">
        <h3 class="Heading">Shopping Cart</h3>
      </div>
  
        @for (item of cartService.cartItems(); track item.id; let i = $index) {
          <div class="row">
            <div class="col-md-1">
              <img [src]="item.image" style="width:100%" />
            </div>
            <div class="col-md-9">
              <h1 class="title">{{item.title}}</h1>
              <p>{{item.description}}</p>
            </div>
            <div class="col-md-2 end">
              <div class="amount">{{item.price}}</div>
              <div (click)="removeItem(i)" class="remove"><u>Remove</u></div>
            </div>
          </div>
        }  
  
      <hr>
      <div class="checkout">
        <div class="total">
          <div>
            <div class="Subtotal">Sub-Total</div>
            <div class="items">{{cartService.totalItems()}} items</div>
          </div>
          <div class="total-amount">{{cartService.subTotals()}}</div>
        </div>
        <button class="button">Checkout</button>
      </div>
    </div>
  }

  @else {
    noItem
  }
 

  <ng-template #noItem>
    <h1>Cart is Empty</h1>
  </ng-template>
  
  </div>